<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" data-controller="hide-search" data-action="scroll@window->hide-search#hideScroll">
  <div class="container-fluid search">
    <%= form_tag watches_path, method: :get do %>
      <div class="search-bar">
        <div style="margin-right: 4px">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a watch"
          %>
        </div>
        <div>
          <%= submit_tag "Search", class: "btn btn-dark btn-search" %>
        </div>
      </div>
    <% end %>
    <div class="log">
      <% if user_signed_in? %>
        <div class="">
        <%#class: "avatar" Sam remove class avatar%>
          <%= link_to destroy_user_session_path, method: :delete, class: "nav-link blacktext" do %>
            <%= image_tag "logo-black", class: "avatar"%>
          <% end %>
        </div>
      <% else %>
        <li class="nav-link">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </div>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://imperialwatch.net/media/2021/06/Richard-Mille-Bubba-Watson-RM055-White-Drive-Americas-Limite-montre-de-luxe-abidjan-montre-abidjan-Imperial-Watch.jpg)";>
  <div class="container">
    <div class="cta">
      <h1>Rent luxurious watch</strong>!</h1>
      <p>and live the Dream life</p>
      <a class="btn btn-light" href="#cards">Watch me</a>
    </div>
  </div>
</div>

<div class="container home">
  <h2>Our collections</h2>
  <div class="parent">
    <%= link_to "/watches?query=wedding&commit=Search", :action => 'go' do %>
      <div class="collection div1">
        <div class="card-collection" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.simplitoo.fr/media/articles/preview_CxonRGN.jpeg)">
      Wedding</div>
      </div>
    <% end %>

    <div class="collection div2">
      <%= link_to "/watches?query=getaway&commit=Search", :action => 'go' do %>
        <div class="card-collection" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://bluebiz-media.azureedge.net/4a275e/contentassets/1269829892474a41807d281baafd36e2/holiday-beach-624x380.jpg)">
      Getaway</div>
      <% end %>
    </div>

    <div class="collection div3">
      <%= link_to "/watches?query=date&commit=Search", :action => 'go' do %>
        <div class="card-collection" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://bestlifeonline.com/wp-content/uploads/sites/3/2018/10/couple-kissing.jpg?quality=82&strip=all)">
      Date</div>
      <% end %>
    </div>

    <div class="collection div4">
      <%= link_to "/watches?query=adventure&commit=Search", :action => 'go' do %>
        <div class="card-collection" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://data.tibettravel.org/assets/images/bhutan/bhutan-adventure-tour/trekking-in-bhutan.jpg)">
      Adventure</div>
      <% end %>
    </div>

    <div class="collection div5">
      <%= link_to "/watches?query=everyday&commit=Search", :action => 'go' do %>
        <div class="card-collection" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.radiofrance.fr/s3/cruiser-production/2020/11/d3e0329a-5557-4395-8842-7180f9220e7e/1136_gettyimages-157308564.jpg)">
      Every Day</div>
      <% end %>
    </div>

    <div class="collection div6">
      <%= link_to "/watches?query=business&commit=Search", :action => 'go' do %>
        <div class="card-collection" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.agora-business.fr/wp-content/uploads/2019/01/business-3152586_960_720.jpg)">
      Business</div>
      <% end %>
    </div>
  </div>
  <br>
  <h2> All watches</h2>
</div>
<div class="cards" id="cards">
    <% @watches.each do |watch| %>
      <%= link_to watch_path(watch), :action => 'go' do %>
      <div class="card-trip">
      <img src='<%= watch.photo.attached? ? cl_image_path(watch.photo.key, crop: :fill) : image_path("https://m.media-amazon.com/images/I/81lHQGmXtIL._AC_UL1500_.jpg", width: 400, height: 300, crop: :fill) %>' />
      <div class="card-trip-infos">
        <h2><%= watch.brand.upcase %></h2>
        <h3><%= watch.model %></h3>
        <br>
        <p>Avg. Rating:</p>
        <% if watch.average_rating != 0 %>
          <% watch.average_rating.times do %>
            <i class="fas fa-star"></i>
          <% end %>
        <% else %>
          <p>No ratings</p>
        <% end %>
      </div>
      </div>
      <% end %>
    <% end %>
</div>
