<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1511370235399-1802cae1d32f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=855&q=80)">
  <h1>Edit your watch</h1>
</div>

<div class="container" style="padding: 30px">
  <div>
    <%= simple_form_for(@watch) do |f| %>
      <%= f.input :brand %>
      <%= f.input :model %>
      <%= f.input :description %>
      <%= f.input :address, label: "City", input_html:{id: "address"} %>
      <%= f.input :tag, collection: $TAGS, as: :check_boxes, label: "Best for:" %>
      <%= f.input :color, collection: $COLORS, label: "Predominant Colour" %>
      <%= f.input :price, label: "Renting Price per Day"%>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
