<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1610010778144-6ef823d799a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
  <div class="container">
    <h1>Rent luxurious watch</strong>!</h1>
    <p>and live the Dream life</p>
    <a class="btn btn-light" href="#cards">Watch me</a>
  </div>
</div>

<div>
  <%= form_tag watches_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a watch"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="cards" id="cards">
    <% @watches.each do |watch| %>
      <%= link_to watch_path(watch), :action => 'go' do %>
        <div class="card-trip">
          <img src='<%= watch.photo.attached? ? cl_image_path(watch.photo.key, crop: :fill) : image_path("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80", width: 400, height: 300, crop: :fill) %>' />
          <div class="card-trip-infos">
            <h2><%= watch.brand.upcase %></h2>
            <h3><%= watch.model %></h3>
            <br>
            <p><%= watch.description %></p>
          </div>
        </div>
      <% end %>
    <% end %>
</div>
