<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1610010778144-6ef823d799a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)">
  <div class="container">
    <h1>Add a new watch</h1>
  </div>
</div>

<div class="container" style="padding: 30px">
  <div>
    <%= simple_form_for(@watch) do |f| %>
      <%= f.input :brand %>
      <%= f.input :model %>
      <%= f.input :description %>
      <%= f.input :price %>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
