<div class="container">
  <div class="card-watch">
    <div class="card-watch-trip">
      <%= @watch.photo.attached? ? cl_image_tag(@watch.photo.key, height: 480, width: 390, crop: :fill) : image_path("https://picsum.photos/390/480", width: 390, height: 480, crop: :fill)%>
    </div>
    <div class= "card-watch-infos-details">
      <div class="card-watch-infos">
        <h3><%= @watch.brand %></h3>
        <h2><%= @watch.model %></h2>
        <p>Description:
        <%= @watch.description %></p>
      </div>
      <div class="card-watch-details">
        <h2><%= number_with_delimiter(@watch.price, :delimiter => ',')%>€</h2>
        <p>Owner:<%= @user.first_name%></p>
      </div>
    </div>
  </div>
  <div class="card-watch-button">
    <div class=delete-watch>
      <% if policy(@watch).update? %>
        <%= link_to "Edit", edit_watch_path(@watch), class:"btn btn-secondary"%>
      <% end %>
    </div>
    <div class=edit-watch>
      <% if policy(@watch).destroy? %>
        <%= link_to "Delete", watch_path(@watch), class:"btn btn-danger", method: :delete, data: { confirm: "Are you sure ?"}%>
      <% end %>
    </div>
  </div>

  <div class="card-watch card-form">
    <div class="form-wrapper" style="margin: 10 auto;">
      <%= simple_form_for [@watch, @booking] do |f| %>
        <%= f.input :start_date, as: :string, required: false, input_html: {id: "range_start"} %>
        <%= f.input :end_date, as: :string, required: false, input_html: {id: "range_end"} %>
        <%= f.button :submit, "Rent a watch", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
