<div class="container">
  <h2><%= @watch.brand %></h2>
  <h2><%= @watch.model %></h2>
  <p><%= @watch.description %></p>
  <p><%= @watch.price %></p>
  <p><%= @watch.user_id %></p>

  <%= link_to 'Book this watch', new_watch_booking_path%>
</div>
