<div class="container">
  <h2><%= @watch.brand %></h2>
  <h2><%= @watch.model %></h2>
  <p><%= @watch.description %></p>
  <p><%= @watch.price %></p>
  <p><%= @watch.user_id %></p>
  <%= @watch.photo.attached? ? cl_image_tag(@watch.photo.key, height: 300, width: 400, crop: :fill) : image_path("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80", width: 400, height: 300, crop: :fill) %>
</div>

<div class = container>
  <%= simple_form_for [@watch, @booking] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit "Rent a watch", class: "btn btn-primary" %>
  <% end %>
</div>
